//
//  FABOperationDemo.xcconfig
//  FABOperation
//
//  Copyright © 2016 Twitter. All rights reserved.
//

#include "../vendor/xcconfig/Targets/Apps/OSX-App.xcconfig"

MAC_ARCHS = x86_64
ARCHS = $MAC_ARCHS
VALID_ARCHS = $MAC_ARCHS

ONLY_ACTIVE_ARCH_Debug = YES
ONLY_ACTIVE_ARCH_Release = NO
ONLY_ACTIVE_ARCH = $(ONLY_ACTIVE_ARCH_$(CONFIGURATION))

SDKROOT = macosx

CODE_SIGN_IDENTITY = -

COMBINE_HIDPI_IMAGES = YES

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks

INFOPLIST_FILE = FABOperationDemo/Info.plist

PRODUCT_BUNDLE_IDENTIFIER = com.twitter.FABOperationDemo

PRODUCT_NAME = $(TARGET_NAME)

GCC_DYNAMIC_NO_PIC = NO

MACOSX_DEPLOYMENT_TARGET = 10.10

GCC_PREPROCESSOR_DEFINITIONS_Debug = DEBUG=1
GCC_PREPROCESSOR_DEFINITIONS_Release =
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS_$(CONFIGURATION))

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

SWIFT_VERSION = 3.0
