//
//  FABOperation.xcconfig
//  FABOperation
//
//  Copyright © 2015 Twitter. All rights reserved.
//

#include "../vendor/xcconfig/Targets/Target.xcconfig"
#include "../vendor/xcconfig/Targets/Framework.xcconfig"

GCC_PRECOMPILE_PREFIX_HEADER = NO
GCC_PREFIX_HEADER =

PRODUCT_BUNDLE_IDENTIFIER = com.twitter.FABOperation
