//
//  Project.xcconfig
//  FABOperation
//
//  Copyright © 2015 Twitter. All rights reserved.
//

#include "../vendor/xcconfig/Architectures.xcconfig"
#include "../vendor/xcconfig/Bitcode.xcconfig"
#include "../vendor/xcconfig/CodeSigning.xcconfig"
#include "../vendor/xcconfig/CompilerFeatures.xcconfig"
#include "../vendor/xcconfig/CompilerWarnings.xcconfig"
#include "../vendor/xcconfig/PreprocessorDefinitions.xcconfig"

DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 3

PRODUCT_NAME = FABOperation

IPHONEOS_DEPLOYMENT_TARGET = 6.0
MACOSX_DEPLOYMENT_TARGET = 10.7
TVOS_DEPLOYMENT_TARGET = 9.0
WATCHOS_DEPLOYMENT_TARGET = 2.0
