//
//  Project.xcconfig
//  FABOperation
//
//  Copyright © 2016 Twitter. All rights reserved.
//

#include "../vendor/xcconfig/Bitcode.xcconfig"

DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 8
CURRENT_PROJECT_VERSION = 1.1.1

PRODUCT_NAME = FABOperation

IPHONEOS_DEPLOYMENT_TARGET = 6.0
MACOSX_DEPLOYMENT_TARGET = 10.7
TVOS_DEPLOYMENT_TARGET = 9.0
WATCHOS_DEPLOYMENT_TARGET = 2.0
